* {
    margin: 0;
}

/* navbar section start from here */
nav {
    background-color: rgb(192, 192, 192);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
}

.nav-logo {
    display: flex;
    align-items: center;
}

.nav-logo>h3 {
    color: aqua;
}

.nav-menu {
    display: flex;
    align-items: center;
    font-size: 20px;
}

.nav-menu li {
    list-style: none;
    margin-right: 30px;
}

.nav-menu a {
    text-decoration: none;
    color: black;
}

/* banner section start from here */
.banner-container {
    height: 100vh;
    background-image: url(./asset/image/background.jpg), linear-gradient(rgb(77, 77, 77), rgb(54, 54, 54));
    background-blend-mode: overlay;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
}

.banner-items {
    text-align: center;
    margin: auto;
    color: white;
}

.banner-title {
    font-size: 90px;
}

.text-primary {
    color: red;
}

.banner-description {
    font-size: 20px;
    width: 600px;
    margin: auto;
    margin-bottom: 40px;
}

.banner-btn {
    padding: 15px 35px;
    font-weight: bold;
    margin-right: 10px;
    border: 0;
    cursor: pointer;
}

.bg-primary {
    background-color: red;
    color: white;
}

/* service section start */
.service-container {
    height: 100vh;
    background-image: url(./asset/image/footer-bg.png), linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.9));
    background-blend-mode: overlay;
    color: rgb(217, 215, 215);
    padding-left: 10px;
}

.service-btn {
    padding: 15px 35px;
    border: 0;
    border-radius: 30px;
    font-weight: bold;
    font-size: 18px;
    color: gray;
    cursor: pointer;
    margin-bottom: 20px;
}

.service-title {
    font-size: 40px;
    margin-bottom: 20px;
}

.service-description {
    width: 500px;
    margin-bottom: 20px;
    font-size: 20px;
}

.list {
    text-align: left;
    margin-left: 0;
    font-size: 20px;
}

.service-container {
    display: flex;
    align-items: center;
    padding-bottom: 90px;
}

.service-author {
    display: flex;
    margin-top: 30px;
    align-items: center;
}

.author-info {
    width: 250px;
    display: flex;
    align-items: center;
    border-right: 2px solid red;
}

.author-img {
    width: 70px;
    border-radius: 50%;
    margin-right: 5px;
}

.author-btn {
    padding: 15px 35px;
    border: 0;
    border-radius: 30px;
    color: red;
    margin-left: 10px;
}

.services {
    width: 50%;
    margin-left: 50px;
}


.service {
    text-align: center;
    border-radius: 5px;
    margin: 10px;
    padding: 40px;
    width: 120px;
    height: 120px;
    background-color: #fff;
    color: black;
}

.icon {
    width: 90px;
}

.tow-service {
    display: flex;
}

/* appointment start */
.appointment-container {
    display: flex;
    align-items: center;
    gap: 20px;
    height: 200px;
    background-color: red;
    width: 80%;
    margin: auto;
    padding: 0 20px;
    color: white;
    border-radius: 30px;
    margin-top: -100px;
}

.appointment-contact {
    display: flex;
    gap: 10px;
    align-items: center;
    width: 300px;
    padding: 20px;
    border-right: 2px solid rgb(156, 155, 155);
}

.appointment-desc {
    width: 450px;
}

.appointment-btn {
    padding: 13px 30px;
    border: 0;
    border-radius: 30px;
}

/* blog and fun section start */
.blog-container {
    margin: 100px 50px;
}

.blog-title {
    font-size: 50px;
    text-align: center;
}

.blog-desc {
    text-align: center;
    font-size: 20px;
}

.cards {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}

.card {
    width: 320px;
    height: 430px;
    text-align: center;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;

}

.card-img {
    width: 100%;
    margin-bottom: 20px;
}

.card-title {
    margin-bottom: 20px;
}

.card-desc {
    font-size: 18px;
}

/* footer start */
footer {
    padding: 60px;
    background-image: url(./asset/image/footer-bg.png), linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.9));
    background-blend-mode: overlay;
    background-size: cover;
    color: white;
}

.footer-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    padding: 30px 0;
    margin: auto;
    border-bottom: 1px solid lightgray;
}

.footer-desc {
    margin-top: 10px;
}

.footer-icons {
    margin-top: 20px;
    font-size: 20px;

}

.footer-icons a {
    margin-right: 20px;
}

.fa-brands {
    color: white;
}

.fa-solid {
    margin-right: 5px;
}

.Copyright-licence {
    text-align: center;
    margin-top: 30px;
}